nav a:hover{
    color: #bf925b;
}

 nav a{
    margin: 0 1.0rem;
    color: black;
    display: flex; 
    font-family: 'Inconsolata', monospace;
  }
nav{
  margin-left: 1000px;
    margin-top: 30px;
    display: flex; 
}
.the-thing{
    margin-top: 80px;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border-style: solid;
    display: flex;
    float: left;
    display: flex; 
    letter-spacing: 100;
    margin-left: 100px;
}
.btn{
    padding-left:22px;
    padding-right:22px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 20px;
    background: transparent !important;
    border: 3px solid #bf925b !important;
    font-size: x-large;
    font-family: 'Fira Sans', sans-serif;
    color:black;
}
.btn:hover{
    border: 3px solid #bf925b !important;
    background: #bf925b !important;
    color:white;
    cursor: pointer;
    font-family: 'Fira Sans', sans-serif;
    transition: 0.6;
}
::selection {
    background: #bf925b;
}
input:focus { 
    outline:#bf925b !important ;
 }